$color: blue;
$defaultFont:'PT Sans',
sans-serif;
;

html {
  font-family: $defaultFont;
}

.announcement {
  background-color: $color;
}

.descriptionPriceContainer {

  .descriptionPriceImage {
    width: 150px;
  }

  p {
    text-align: center;
    font-size: 12px;
  }

}