$color: blue;
$defaultFont:'PT Sans',
sans-serif;

body {
  margin: 0;
}

html {
  font-family: $defaultFont;
}

.announcement {
  background-color: $color;
}

.wrapperCard {
  max-width: fit-content;
}

.descriptionPriceContainer {

  .descriptionPriceImage {
    width: 100%;
  }

  p {
    text-align: center;
    font-size: 12px;
  }

}